<div class='container'>

  <div class='row justify-content-center text-centered'>
    <div class='col-md-6 d-flex flex-column align-items-center'>

      <h4>Your Daily Card:</h4>
      {{#if position}}
        <h1>{{card.name}} (upright)</h1>
        <img
          src='{{card.uprightImage}}'
          class='card-image-main'
          alt='{{card.name}}'
        />
        <span class='keywords'>
          ⚜
          {{card.uprightKeywords}}
          ⚜</span>
        <hr />
        <h3>Advice for today</h3>
        {{card.uprightFullDescription}}
      {{else}}
        <h1>{{card.name}} (reversed)</h1>
        <img
          src='{{card.reverseImage}}'
          class='card-image-main'
          alt='{{card.name}}'
        />

        <span class='keywords'>⚜
          {{card.reverseKeywords}}
          ⚜</span>
        <hr />
        <h4>Advice for today</h4>{{card.reverseFullDescription}}
      {{/if}}
    </div>
  </div>
</div>