<script>
  window.onload = () => { const cardBack = document.getElementById('card-back')
  cardBack.addEventListener('click', ()=> {
  document.getElementById('card-back').hidden = true;
  document.getElementById('card-show').hidden = false; }) }
</script>

<div class='container'>
  <h4>Your Daily Card</h4>
  <div id='card-back' class='row justify-content-center text-centered'>
    <div class='col-md-6 d-flex flex-column align-items-center'>
      <h1>Click to get your reading!</h1>
      <img
        class='card-image-main'
        src='https://res.cloudinary.com/dqwvgka1a/image/upload/v1631733520/card-back2_glw8s9.png'
      />
    </div>
  </div>

  <div id='card-show' class='row justify-content-center text-centered' hidden>
    <div class='col-md-6 d-flex flex-column align-items-center'>

      {{#if position}}
        <h1>{{card.name}} (upright)</h1>
        <img
          src='{{card.uprightImage}}'
          class='card-image-main'
          alt='{{card.name}}'
        />
        <span class='keywords'>
          ⚜
          {{card.uprightKeywords}}
          ⚜</span>
        <hr />
        <h3>Advice for today</h3>
        {{card.uprightFullDescription}}
      {{else}}
        <h1>{{card.name}} (reversed)</h1>
        <img
          src='{{card.reverseImage}}'
          class='card-image-main'
          alt='{{card.name}}'
        />

        <span class='keywords'>⚜
          {{card.reverseKeywords}}
          ⚜</span>
        <hr />
        <h4>Advice for today</h4>{{card.reverseFullDescription}}
      {{/if}}

    </div>
  </div>
</div>