<div class='container'>

  <div class='row justify-content-center'>
    <div class='col-md-6 d-flex flex-column align-items-center'>

      <h1 class='text-justify'>{{siteTitle}}</h1>
      <p>Waiting for the Stars to align... Get your Tarot reading for free!</p>

      <hr>
      <h3>This is your Daily Card</h3>
      {{#if position}}
      <img src="{{card.uprightImage}}" alt="{{card.name}}">

      <hr>

      <p><strong>Keywords:</strong>{{card.uprightKeywords}}</p>

      <hr>

      <p><strong>Description:</strong>{{card.uprightFullDescription}}</p>
      {{else}}
      <img src="{{card.reverseImage}}" alt="{{card.name}}">

      <hr>

      <p><strong>Keywords:</strong>{{card.reverseKeywords}}</p>

      <hr>

      <p><strong>Description:</strong>{{card.reverseFullDescription}}</p>
      {{/if}}
    </div>
  </div>
</div>