<div class="container">
    <h2><strong>{{history.0.user_id.username}}</strong></h2>
    <br>
    <img src="{{history.0.user_id.avatar}}" alt="{{history.0.user_id.username}}">
    <br>
    <hr>
    <h5>Reading History</h5>

    {{#each history}}
    <ul>
        
        {{#each cards_id}}
        <li>{{name}}</li>
        {{/each}}
    </ul>
    <a href="/cards/history-reading/" class="btn btn-purple">Detail</a>
    <hr>
    
    {{/each}}
    

  <br />

  <a href='/' class='btn btn-purple'>Home</a>

  <a href='/user/profile/{{id}}/edit' class='btn btn-warning'>Edit</a>

  <form action='/user/profile/{{id}}/delete' method='POST'>
    <button type='submit' class='btn btn-danger'>Delete</button>
  </form>
</div>