<div class='container'>
  <h2><strong>{{history.0.user_id.username}}</strong></h2>
  <br />
  <img
    class='forum-avatar'
    src='{{history.0.user_id.avatar}}'
    alt='{{history.0.user_id.username}}'
  />
  <br />
  <hr />
  <h5>Reading History</h5>

  {{#each history}}
    <p>{{date}}</p>
    <ul>

      {{#each cards_id}}
        <li>{{name}}</li>
      {{/each}}
    </ul>
    <a href='/cards/history-reading/' class='btn btn-purple'>Detail</a>
    <hr />
  {{/each}}

  <br />

  {{#if isLogged}}
  <a href='/user/profile/{{id}}/edit' class='btn btn-warning'>Edit</a>
  {{/if}}
  
  {{#if isADMIN}}
  
  <a href='/admin' class='btn btn-info'>Admin Lab</a>
  {{/if}}
</div>