<div class='container'>
  <h1>{{history.0.user_id.username}}</h1>

  <div class='row justify-content-center'>
    <div
      class='col-md-12 d-flex flex-column align-items-center justify-content-around'
    >
      <img
        class='profile-avatar'
        src='{{history.0.user_id.avatar}}'
        alt='{{history.0.user_id.username}}'
      /></div>
    <br />
  </div>
  <br />
  <div
    class='col-md-12 d-flex flex-column align-items-center justify-content-around'
  >
    <p><span class='keywords'>Name: </span>
      {{history.0.user_id.firstName}}</p>

    <p><span class='keywords'>Surname: </span>
      {{history.0.user_id.lastName}}</p>

    <p><span class='keywords'>Country: </span>
      {{history.0.user_id.country}}</p>

    <p><span class='keywords'>Age: </span>
      {{history.0.user_id.age}}</p>
    {{#if isLogged}}
      <a href='/user/profile/{{id}}/edit' class='btn btn-purple'>Edit profile</a>
    {{/if}}
  </div>
  <br />
  <h2>Tarot Readings History</h2>
  <div class='row justify-content-center'>
    <div class='col-md-6 d-flex flex-column align-items-center'>
      {{#each history}}
        <p>{{date}}</p>

        {{#each cards_id}}
          <a href='/cards/history-reading/'>{{name}}</a>
        {{/each}}
        <br />
      {{/each}}

      <br />

      {{#if isADMIN}}

        <a href='/admin' class='btn btn-info'>Admin Lab</a>
      {{/if}}
    </div></div>

</div>