<div class='container'>
  <h1>{{user.username}}</h1>

  <div class='row justify-content-center'>
    <div
      class='col-md-12 d-flex flex-column align-items-center justify-content-around'
    >
      <img
        class='profile-avatar'
        src='{{user.avatar}}'
        alt='{{user.username}}'
      /></div>
    <br />
  </div>
  <br />
  <div
    class='col-md-12 d-flex flex-column align-items-center justify-content-around'
  >
    <p><span class='keywords'>Name: </span>
      {{user.firstName}}</p>

    <p><span class='keywords'>Surname: </span>
      {{user.lastName}}</p>

    <p><span class='keywords'>Country: </span>
      {{user.country}}</p>

    <p><span class='keywords'>Age: </span>
      {{user.age}}</p>
    {{#if isLogged}}
      <a href='/user/profile/{{id}}/edit' class='btn btn-purple'>Edit profile</a>
    {{/if}}
    <br>
     {{#if isADMIN}}

        <a href='/admin' class='btn btn-info'>Admin Lab</a>
      {{/if}}
  </div>
  <br />
  <h2>Tarot Readings History</h2>
  <div class='row justify-content-center'>
    <div class='col-md-6 d-flex flex-column align-items-center'>
      {{#each history}}
        <p>{{date}}</p>

        {{#each cards_id}}
          <a href='/cards/details/{{id}}'>{{name}}</a>
        {{/each}}

        <hr />
    {{/each}}

      <br />

     
    </div></div>

</div>