<div class="container">
    <h1>Users</h1>
    <a href="/admin" class="btn btn-purple">Back</a>
    <hr>

    {{#each user}}

    <p><strong><i>{{username}}</i></strong><p>
    <hr>
    <p>{{firstName}}</p>
    <p>{{lastName}}</p>
    <p><small>{{country}}</small></p>
    <hr>
    <p><strong>{{createdAt}}</strong></p> 
    <hr>       
    <form action='/admin/user-list/{{id}}/delete' method='POST'>
    <button type='submit' class='btn btn-danger'>Delete</button>
  </form>
    {{/each}}

</div>