<div class='container'>

  <div class='row justify-content-center'>
    <div class='col-md-6'>
      Card details
      <hr />

      <a href='/cards/details/edit/{{id}}'>Edit card</a>

      <h3>{{name}}</h3>
      <br /><br />
      <img src='{{uprightImage}}' />
      <br /><br />
      <h5>Upright keywords:</h5>
      {{uprightKeywords}}
      <br /><br />
      <h5>Upright full description</h5>{{uprightFullDescription}}
      <br /><br />
      <img src='{{reverseImage}}' />
      <br /><br />
      <h5>Reversed keywords:</h5>
      {{reverseKeywords}}
      <br /><br />
      <h5>Reversed full description</h5>{{reverseFullDescription}}

    </div>
  </div>
</div>