<div class='container'>

  <div class='row justify-content-center'>
    <div class='col-md-6 d-flex flex-column align-items-center'>
      <h1>{{name}}</h1>
      <hr />

      <img width='50%' src='{{uprightImage}}' />
      <br /><br />
      <h4>Upright keywords</h4>
      ⚜
      {{uprightKeywords}}
      ⚜
      <br /><br />
      <h4>Upright full description</h4><p>{{uprightFullDescription}}</p>
      <br /><br />
      <img src='{{reverseImage}}' />
      <br /><br />
      <h4>Reversed keywords</h4>
      ⚜
      {{reverseKeywords}}
      ⚜
      <br /><br />
      <h4>Reversed full description</h4><p>{{reverseFullDescription}}</p>
      <a href='/cards/details/edit/{{id}}'>Edit card</a>
    </div>
  </div>
</div>