<div class='container'>

  <div class='row justify-content-center'>

    <h1>Your reading</h1>
  </div>
  <br />
  <div class='row justify-content-center'>
    <hr />
    <div class='col-md-4 d-flex flex-column align-items-center'>
      {{#if positionA}}
        <img
          class='card-image-reading'
          src='{{card1.uprightImage}}'
          alt='{{card1.name}}'
        />
        <br /><br />
        <h4>keywords</h4>

        <p>{{card1.uprightKeywords}}</p>

        <br /><br />

      {{else}}
        <img
          class='card-image-reading'
          src='{{card1.reverseImage}}'
          alt='{{card1.name}}'
        />
        <br /><br />
        <h4>keywords</h4>

        <p>{{card1.reverseKeywords}}</p>

        <br /><br />

      {{/if}}
    </div>
    <div class='col-md-4 d-flex flex-column align-items-center text-centered'>
      {{#if positionB}}
        <img
          class='card-image-reading'
          src='{{card2.uprightImage}}'
          alt='{{card2.name}}'
        />
        <br /><br />
        <h4>keywords</h4>

        <p>{{card2.uprightKeywords}}</p>

        <br /><br />

      {{else}}
        <img
          class='card-image-reading'
          src='{{card2.reverseImage}}'
          alt='{{card2.name}}'
        />
        <br /><br />
        <h4>keywords</h4>

        <p>{{card2.reverseKeywords}}</p>

        <br /><br />

      {{/if}}
    </div>
    <div class='col-md-4 d-flex flex-column align-items-center text-centered'>
      {{#if positionC}}
        <img
          class='card-image-reading'
          src='{{card3.uprightImage}}'
          alt='{{card3.name}}'
        />
        <br /><br />
        <h4>keywords</h4>

        <p>{{card3.uprightKeywords}}</p>

        <br /><br />

      {{else}}
        <img
          class='card-image-reading'
          src='{{card3.reverseImage}}'
          alt='{{card3.name}}'
        />
        <br /><br />
        <h4>keywords</h4>

        <p>{{card3.reverseKeywords}}</p>

        <br /><br />

      {{/if}}
    </div>
  </div>
  <a href='/' class='btn btn-purple'>Home</a>
</div>